http:
  routers:
    # HTTPS routers
    tracker-frontend:
      entryPoints:
        - websecure
      rule: "Host(`gps.it-uae.com`)"
      tls:
        certResolver: myresolver
      service: tracker-frontend
    tracker-backend:
      entryPoints:
        - websecure
      rule: "Host(`gps.it-uae.com`) && (PathPrefix(`/api`) || PathPrefix(`/ws`))"
      tls:
        certResolver: myresolver
      service: tracker-backend

    # HTTP routers -> redirect to HTTPS
    tracker-frontend-http:
      entryPoints:
        - web
      rule: "Host(`gps.it-uae.com`)"
      middlewares:
        - redirect-to-https
      service: tracker-frontend
    tracker-backend-http:
      entryPoints:
        - web
      rule: "Host(`gps.it-uae.com`) && (PathPrefix(`/api`) || PathPrefix(`/ws`))"
      middlewares:
        - redirect-to-https
      service: tracker-backend

  services:
    tracker-frontend:
      loadBalancer:
        servers:
          - url: "http://tracker-frontend:3000"
    tracker-backend:
      loadBalancer:
        servers:
          - url: "http://tracker-backend:8001"

  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
